body {background-image:url("https://images.photowall.com/products/45585/flower-background.jpg?h=699&q=85");background-repeat: no-repeat;background-size: cover;}

h1 {text-align:center; font-weight: bold;color:gray}

#bio {color:green;font-style: italic;font-weight:bold;text-align: left;}

ol {font-weight: bold;color:brown}

li {font-style:italic;color:brown;}

#answers {color:rgb(196, 95, 129);font-style: italic;font-weight:bold;text-align: left;}