body {background-image:url("http://eskipaper.com/images/black-and-white-floral-wallpaper-5.jpg");background-repeat: no-repeat;background-size: cover}

* {font-family:cursive;color: black;}

h1 {text-align:left; font-weight: bold}

span, q {font-style: italic;}

#bio {font-style: italic;font-weight:bold;text-align: left;}

ol {font-weight: bold;}

li {font-style:italic;}

#answers {font-style: italic;font-weight:bold;text-align: left;}